h1, h2 {
    color: pink;
  }
  
  p {
    color: gray;
  }
  
  ul {
    border: 3px solid orange;
  }
  
  ol {
    border: 3px solid purple;
  }
  
  ol, ul {
    padding: 5px 20px;
    border-radius: 4px;
  }
  
  h1 {
    font-size: 2rem;
    margin: 0;
    color: purple;
  }
  
  dl {
    color: blue;
    margin: 0.5em 0;
  }
  
  dt {
    font-weight: bold;
    color: purple;
  }
      